<!DOCTYPE html>
<html>
<head>
	<title>Paper Rock Scissors Results</title>
</head>
<body>
	<h1>Results</h1>

	<p>The player choice was: <%= player %></p>
	<p>The cpu choice was: <%= cpu %></p>

</body>
</html>